name: Build and Push Docker Image

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Docker repo
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Build Docker image
        run: |
          docker build \
            --build-arg GITHUB_TOKEN=${{ secrets.PRIVATE_REPO_TOKEN }} \
            -t ghcr.io/${{ github.repository_owner }}/timetracking:latest .

      - name: Push image
        run: |
          docker push ghcr.io/${{ github.repository_owner }}/timetracking:latest
